Package: lirush
Version: 0.2.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: https://r2dev2.github.io
Description: An open source implementation of Puzzle Rush
